#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: marcelonogales # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj3Cj8+4y6a82DYmrhfbXnreT8gyb50pDUnx8lN9QVqzL6PyLIYwNJturFfpYhi4lXcyqR1Vo0nKFWXrfAXtNoy1wKVQTGknAQAMHKhqOW3DrTHDUNbIp61lLdqEi/OnHEjBrYMe3Ua1amKO2R2oETjQHZDr01l6jrya4AO9pVEQYoLJH6WfygJg9GJ8rbRNO6qTwHzYHdpGrnt+8hRi//rruh2BZOIrio2pLOZGKKAPhFqi7MJgLibcK2jZkyAS72kIvMnvXezt2MfJyhUhunyK0/XZ5KTAymY1gM28L16+IOHgoiaH0OOAtfj5JeXb/+DbMEUQcb0P5Hn0EyD6rM1estQiZFhC+Z0q8hBz1mV7cyIys7X4ASa5TqbQchnBpNROtmXkK/9dir1gg1V4g2z7MM1L6+Z/4u2274XmXes0lZAnl/xl+RiiuYJHNi6kn4HMCtg2w2vtax8MHo+7N89GsLWQ9nJrs4Az+U2fq3IxDMsd6oVTNkgOXZYkM0mLk= marcelo@ubuntuLinux
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
